body{
    margin:0;
    font-family:'Poppins', sans-serif;
    background:#020617;
    color:white;
}

header{
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:50px;
    margin:0;
    background:linear-gradient(to right,#38bdf8,#a855f7);
    -webkit-background-clip:text;
    color:transparent;
}

header p{
    font-size:18px;
    opacity:0.8;
}

.categories{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
    margin-bottom:30px;
}

.categories button{
    padding:12px 24px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    background:#1e293b;
    color:#38bdf8;
    transition:0.3s;
}

.categories button:hover{
    background:#38bdf8;
    color:black;
    transform:scale(1.08);
}
#content{
    max-width:1200px;
    margin:auto;
    display:none;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
    padding:20px;
}
.card{
    background:linear-gradient(160deg,#1e293b,#020617);
    border-radius:22px;
    padding:20px;
    box-shadow:0 0 30px rgba(56,189,248,0.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 40px rgba(168,85,247,0.35);
}

.card img{
    width:100%;
    height:230px;
    object-fit:cover;
    border-radius:15px;
}

.card h2{
    margin:15px 0 6px;
    font-size:20px;
    color:#38bdf8;
}

.card p{
    font-size:14px;
    opacity:0.85;
}

.card ul{
    padding-left:18px;
    font-size:13px;
}

footer{
    background:#020617;
    border-top:1px solid #1e293b;
    padding:25px;
    text-align:center;
    margin-top:40px;
}

footer h3{
    margin:0;
    color:#38bdf8;
}

footer p{
    font-size:14px;
    opacity:0.7;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #020f1186;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #cc00ff, #0059ff);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #ff00ff, #0059ff);
}
html{
    scroll-behavior: smooth;
}